# ===========================================================
#   MAVEN / JAVA
# ===========================================================
**/target/
*.class
*.jar
*.war
*.ear

# Logs
*.log
*.out

# Spring temp
tmp/
spring.log

# ===========================================================
#   DOCKER
# ===========================================================
**/data/
**/pgdata/
docker-data/

# ===========================================================
#   IDEs
# ===========================================================
.vscode/
.idea/
*.iml
*.ipr
*.iws
out/
.settings/
nbproject/private/
build/

# ===========================================================
#   NODE / FRONTEND
# ===========================================================
node_modules/
dist/
build/

# ===========================================================
#   SISTEMA / BASURA
# ===========================================================
.DS_Store
Thumbs.db
*.tmp
*.cache
*.swp

# ===========================================================
#   VARIABLES DE ENTORNO
# ===========================================================
*.env
.env.*
.env.local
